.blogImageAndContentSection{
  width: 895px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.blogImageAndContentSection img{
  width: 895px;
  height: 599px;
  flex-shrink: 0;
  border-radius: 15px;
  margin-bottom: 20px;

}
.blogImageAndContentSection p{
  width: 895px;
  flex-shrink: 0;
  color: #20201E;
  text-align: justify;
  font-family: Almarai;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 175% */
}
.blogImageAndContentSection h2{
  border-right: 6px solid #D1B671;
  padding-right: 10px;
}
  .socialMediaShareContent{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: max-content;
    border: 0.883px solid #102231;
  }
  .socialMediaShare{
    width: 895px;
    display: flex;
    align-items: center;
    justify-content: end;
  }
.copyTheUrl{
  width: 895px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.copyTheUrlContent{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #102231;
  padding: 10px;
}
.copyTheUrlContent span{
  color: #20201E;
  text-align: right;
  font-family: Almarai;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
