.projectDataContent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 732px;
    height: 143px;

    flex-shrink: 0;
}
.projectDataContent p{
    color: #000;
    text-align: start;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */

}

.projectDataContent span{
    color: #707070;
    text-align: start;
    font-family: Almarai;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    margin-left: 15px;
}
.projectDataTitle{
    border-right: 6px solid  #D1B671;;
    padding-right: 5px;
}
