.veelHelp{
  width: 90%;
  height: 307px;
  background-color: #231F20;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
}
.vellLogo{
  display: none;
}
.formHeader{
  color: white;
}
.formContent{
  margin: 10px 30px;
}
.formInputs{
  display: flex;
  gap: 5px;
}
#options{
  display: flex;
  width: 333px;
  padding: 10px 12px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid  #E1E4EA;
  background: #FFF;
}
.img img{
  height: 307px;
}
.helpForm input{
  display: flex;
  width: 305px;
  padding: 10px 12px;
  justify-content: flex-end;
  align-items: center;
  gap: 273px;
  border-radius: 5px;
  background: #FFF;
  height: 17px;
}
.helpForm button{
  display: flex;
  width: 305px;
  height: 42px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #D1B671;
  color: white;

}

textarea{
  display: flex;
  width: 280px;
  height: 67px;
  padding: 10px 12px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 273px;
  flex-shrink: 0;
  border-radius: 5px;
}
.nameLocPhone{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.msgSubmit{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 1024px) and (max-width: 1440px){
  .nameLocPhone input{
  width: 200px;
}
  .vellLogo{
    display: none;
  }
#options{
  width: 227px;
}
textarea{
  width: 240px;
}
.msgSubmit button{
  width: 268px;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px){

  .formContent{
    display: flex;
    flex-direction: column;
  }

  .img{
    display: none;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px){
  .img{
    display: none;
  }

  .veelHelp{
    width: 364px;
    height: 501px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #231F20;
  }

  .formInputs{
    display: flex;
    flex-direction: column;
  }
  .nameLocPhone input {
    width: 279px;
  }
  #options{
    width: 305px;
  }
  .vellLogo{
    display: flex;
    justify-content: end;
  }
}
